@model AdminImageModalModel

<div class="admin-image-modal" data-for="@Model.InputId" data-image-ids="@Model.ApartmentImageIdsAsString" id="admin-image-modal">
    <div class="admin-image-modal__bg admin-image-modal-closer"></div>
    <div class="admin-image-modal__content">
        <div class="admin-image-modal__close admin-image-modal-closer">Close</div>
        <div class="admin-image-modal__nav">
            <div class="admin-image-modal__nav__item active" data-for="admin-modal-upload">
                Add new files
            </div>
            <div class="admin-image-modal__nav__item" data-for="admin-modal-library" id="open-admin-modal-library">
                Select from uploaded files
            </div>
        </div>
        <div class="admin-image-modal__tabs">
            <form enctype="multipart/form-data" method="POST" class="admin-image-modal__tab upload-files loading-modal-con active" id="admin-modal-upload">
                <input type="file" multiple placeholder="Choose files" id="admin-modal-upload-input" accept="image/*" />
                <button type="submit" class="btn">Save images</button>
                <div class="loading-modal" id="admin-modal-upload-overlay">
                    <div class="loading-modal__msg" id="admin-modal-upload-msg">
                        Uploading your files, don't close the window...
                    </div>
                    <button type="button" class="loading-modal__btn btn--white" id="admin-modal-upload-btn">
                        Close
                    </button>
                </div>
            </form>
            <div class="admin-image-modal__tab library-image-grid" id="admin-modal-library">
                
            </div>
        </div>
    </div>
</div>