@{ 
    ViewBag.Title = "Not Found";
}

<main>
    <header class="hero-header">
        <img src="~/img/components/header-3.jpg" alt="Booking Header" class="hero-header__image" />
        <div class="hero-header__content">
            <h1 class="page-title royal-font">@ViewBag.ErrorMessage</h1>
        </div>
    </header>
</main>