*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0; }

body {
  background: #FFF;
  overflow-x: hidden;
  position: relative; }
  @media (hover: none) {
    body {
      cursor: pointer; } }

.lg-backdrop.in {
  opacity: 0.9; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: #000000; }

a, a:hover {
  color: #9A031E;
  text-decoration: none; }

::selection {
  background-color: #1C1C1C;
  color: #FFF; }

.royal-font {
  font-family: 'Pirata One', cursive; }

.page-title {
  font-size: 158px;
  line-height: 187px; }

.huge-title {
  font-size: 48px;
  line-height: 64px; }

.big-title {
  font-size: 32px;
  line-height: 40px; }

.medium-title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 16px; }

.small-title {
  font-size: 18px;
  line-height: 22px; }

.intact {
  display: inline-block; }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em; }

.admin-apartment-form {
  display: flex;
  flex-direction: column; }
  .admin-apartment-form .admin-title-input {
    width: 800px;
    max-width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 48px;
    padding: 0 14px;
    max-width: 100%; }
  .admin-apartment-form .form-group {
    width: 540px;
    max-width: 100%;
    margin-bottom: 30px; }
    .admin-apartment-form .form-group input, .admin-apartment-form .form-group textarea, .admin-apartment-form .form-group .dense-btn {
      border: 1px solid #000000;
      border-radius: 3px;
      height: 42px;
      width: 100%;
      font-family: inherit;
      font-size: 16px;
      line-height: 26px;
      padding: 8px 14px; }
    .admin-apartment-form .form-group textarea {
      height: 260px; }

.admin-image-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: all .3s; }
  .admin-image-modal.open {
    opacity: 1;
    pointer-events: all; }
  .admin-image-modal:not(.open) * {
    pointer-events: none !important; }
  .admin-image-modal__close {
    text-align: right;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 10px; }
  .admin-image-modal__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .admin-image-modal__content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 15px; }
  .admin-image-modal__nav {
    display: flex; }
    .admin-image-modal__nav__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 15px;
      background-color: #B8C2CC;
      cursor: pointer; }
      .admin-image-modal__nav__item.active {
        background-color: #FFF; }
  .admin-image-modal__tabs {
    height: 600px;
    position: relative; }
  .admin-image-modal__tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: #f5f5f5;
    transition: all .3s; }
    .admin-image-modal__tab.loading-modal-con {
      border-radius: 0; }
      .admin-image-modal__tab.loading-modal-con .loading-modal {
        border-radius: 0; }
    .admin-image-modal__tab.active {
      opacity: 1;
      pointer-events: all; }

.upload-files {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .upload-files > :not(:last-child) {
    margin-bottom: 16px; }

.library-image-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  overflow: auto; }
  .library-image-grid > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 6 - 5 / 6 * 14px);
    margin-bottom: 14px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .library-image-grid > * {
        flex-basis: calc(100% / 6 - 2.2 * 14px); } }
    .library-image-grid > *:not(:nth-child(6n)) {
      margin-right: 14px; }

.library-image {
  height: 160px;
  cursor: pointer;
  border: 3px solid transparent;
  padding: 2px;
  transition: all .3s; }
  .library-image.checked {
    border-color: #000000; }
  .library-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .dense-btn, .btn--white {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: #1C1C1C;
  color: #FFF;
  border: 1px solid #1C1C1C;
  transition: all .3s;
  cursor: pointer;
  font-weight: 500; }

.btn:hover, .dense-btn:hover {
  background-color: #FFF;
  color: #1C1C1C; }

.btn, .btn--white {
  height: 42px;
  padding: 0 25px;
  font-size: 16px; }

.dense-btn {
  height: 36px;
  padding: 0 12px;
  font-size: 14px; }

.btn--white {
  background-color: #FFF;
  color: #1C1C1C; }

.loading-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dac34e;
  color: #FFF;
  z-index: 1;
  font-weight: bold;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  padding: 30px;
  text-align: center;
  transition: all .3s; }
  .loading-modal > :not(:last-child) {
    margin-bottom: 16px; }
  .loading-modal.open {
    opacity: 1;
    pointer-events: all; }
  .loading-modal.failed {
    background-color: #42020d; }
  .loading-modal.success {
    background-color: #688E26; }
  .loading-modal-con {
    position: relative;
    border-radius: 15px; }

.admin-apartments-list {
  display: flex;
  flex-wrap: wrap; }
  .admin-apartments-list > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 3 - 2 / 3 * 30px);
    margin-bottom: 30px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .admin-apartments-list > * {
        flex-basis: calc(33.33% - 2.2 * 30px); } }
    @supports (-ms-ime-align: auto) {
      .admin-apartments-list > * {
        flex-basis: calc(33.33% - 2 / 3 * 30px); } }
    .admin-apartments-list > *:not(:nth-child(3n)) {
      margin-right: 30px; }
  .admin-apartments-list-item__img-con {
    height: 360px;
    position: relative;
    cursor: pointer;
    margin-bottom: 6px; }
    .admin-apartments-list-item__img-con:hover .admin-apartments-list-item__img-overlay {
      opacity: 1; }
    .admin-apartments-list-item__img-con img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .admin-apartments-list-item__img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #FFF;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all .3s; }
    .admin-apartments-list-item__img-overlay > :not(:last-child) {
      margin-right: 40px; }
    .admin-apartments-list-item__img-overlay a {
      color: #FFF; }

.admin-side-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 30px 15px;
  text-align: center; }
  .admin-side-nav a {
    color: #000000; }
  .admin-side-nav__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 22px; }
    .admin-side-nav__logo img {
      margin-bottom: 2px; }
  .admin-side-nav__links {
    display: flex;
    flex-direction: column;
    font-weight: bold; }
    .admin-side-nav__links > :not(:last-child) {
      margin-bottom: 16px; }
    .admin-side-nav__links a {
      transition: all .3s; }
      .admin-side-nav__links a:hover {
        color: #FFD700; }

.user-messages-grid {
  display: flex;
  flex-wrap: wrap; }
  .user-messages-grid > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 3 - 2 / 3 * 30px);
    margin-bottom: 30px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .user-messages-grid > * {
        flex-basis: calc(33.33% - 2.2 * 30px); } }
    @supports (-ms-ime-align: auto) {
      .user-messages-grid > * {
        flex-basis: calc(33.33% - 2 / 3 * 30px); } }
    .user-messages-grid > *:not(:nth-child(3n)) {
      margin-right: 30px; }

.user-message-preview {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.18);
  position: relative;
  bottom: 0;
  transition: all .3s;
  background-color: #FFF; }
  .user-message-preview, .user-message-preview:hover {
    color: #000000; }
  .user-message-preview:hover {
    bottom: 9px;
    box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.25); }

.admin-container {
  display: flex; }

.admin-body {
  width: calc(100% - 320px);
  height: 100vh;
  overflow: auto;
  background-color: #f5f5f5;
  padding: 30px; }

.admin-title {
  display: flex;
  align-items: center; }
  .admin-title .dense-btn {
    margin-left: 20px; }
