.admin-apartment-form{
  @include d-flex($dir: column);

  & .admin-title-input{
    width: 800px;
    max-width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 48px;
    padding: 0 14px;
    max-width: 100%;
  }

  & .form-group{
    width: 540px;
    max-width: 100%;
    margin-bottom: 30px;

    & input, textarea, & .dense-btn{
      border: 1px solid $black;
      border-radius: 3px;
      height: 42px;
      width: 100%;
      font-family: inherit;
      font-size: 16px;
      line-height: 26px;
      padding: 8px 14px;
    }

    & textarea{
      height: 260px;
    }
  }
}