.btn, .dense-btn{
  @include d-flex($center: true);
  border-radius: 3px;
  background: $black-l;
  color: #FFF;
  border: 1px solid $black-l;
  @include transition;
  cursor: pointer;

  &:hover{
    background-color: #FFF;
    color: $black-l;
  }
}

.btn{
  height: 42px;
  padding: 0 25px;
  font-size: 16px;
}

.dense-btn{
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
}