@model ApartmentSaveModel

<form enctype="multipart/form-data" method="POST" class="admin-apartment-form" id="add-apartment-form">

    <h1 class="admin-title">
        <input class="admin-title-input" asp-for="Name" placeholder="Apartment name" id="add-name" required />
    </h1>

    <div class="form-group">
        <input asp-for="LocationName" class="form-control" id="add-location" placeholder="Apartment location" required />
    </div>

    <div class="form-group">
        <textarea asp-for="Description" class="form-control" id="add-description" placeholder="Apartment description" required ></textarea>
    </div>

    <div class="form-group">
        <input asp-for="Sleeps" class="form-control" id="add-sleeps" placeholder="Amount of apartment sleeps" required />
    </div>

    <div class="form-group">
        <input asp-for="ImageIds" id="add-images" type="hidden" />
        <vc:admin-image-modal-opener />
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="dense-btn" />
    </div>

</form>

<vc:admin-image-modal input-id="add-images" apartment-image-ids="@Newtonsoft.Json.JsonConvert.SerializeObject(new List<int>())" />