<h1 class="admin-title">Welcome to Booking control panel!</h1>
<div class="admin-desc">
    <p>
        Here you can modify all of the most important information on your website!
    </p>
    <p>
        Well, at least the informations about apartments. Yeah, mainly those informations. Actually, only those informations.
    </p>
    <p>
        Have a great time clicking buttons!
    </p>
</div>