$black: #1F2127;
$grey-1: #3D4852;
$grey-2: #444752;
$grey-3: #606F7B;
$grey-4: #8795A1;
$grey-5: #A1AEB7;
$grey-6: #B8C2CC;
$grey-7: #DAE1E7;
$grey-8: #E7EDF3;

$gold: #FFD700;
$gold-dimmed: #dac34e;
$black: #000000;
$black-l: #1C1C1C;
$white: #FFF;
$red: #9A031E;
$red-dimmed: #42020d;
$green: #688E26;