@model List<ApartmentModel>

<section class="apartments-display">
    <div class="apartments-display__head">
        <h1 class="huge-title">Apartments</h1>
    </div>
    <div class="apartments-display__grid">
        @foreach (ApartmentModel apartment in Model)
        {
            <vc:apartment-preview apartment="@apartment" />
        }
    </div>
</section>