<div class="apartments-grid__item">
    <a asp-area="" asp-controller="Apartment" asp-action="Index" class="apartments-grid__item__img-con">
        <img src="~/img/components/header-2.jpg" alt="Apartament" class="apartments-grid__item__img" />
        <div class="apartments-grid__item__hover">
            <span>View</span>
        </div>
    </a>
    <h3 class="apartments-grid__item__title small-title">
        Apartment
    </h3>
    <div class="apartments-grid__item__footer">
        <div class="apartments-grid__item__info">
            Kraków, ul. Wielicka 19
        </div>
        <div class="apartments-grid__item__info">
            Sleeps: 4
        </div>
    </div>
</div>