<nav class="bk-nav-con" id="nav">
    <div class="bk-nav">
        <a href="/" class="bk-nav__logo">
            <img src="~/img/icons/logo-gold.svg" />
        </a>
        <div class="bk-nav__toggler-con">
            <div class="bk-nav__toggler" id="side-nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="bk-nav__side-nav" id="side-nav">
            <div class="bk-nav__side-nav__links">
                <a href="/">Home</a>
                <a asp-controller="ApartmentArchive" asp-action="Index">Apartments</a>
            </div>
        </div>
    </div>
</nav>