<nav class="admin-side-nav">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="admin-side-nav__logo">
        <img src="~/img/icons/logo-gold.svg" />
        <div class="royal-font">Boo<span style="color: #FFD700">King</span></div>
    </a>
    <div class="admin-side-nav__links">
        <a asp-area="" asp-controller="Home" asp-action="Index">Return to website</a>
        <a asp-area="Admin" asp-controller="ApartmentsList" asp-action="Index">Apartments</a>
        <a asp-area="Admin" asp-controller="UserMessageList" asp-action="Index">Messages</a>
    </div>
</nav>