@model ApartmentModel 
@{
    ViewData["Title"] = Model.Name + " - BooKing";
}

<main>
    <header class="hero-header">
        @if (Model.Images != null && Model.Images.Count > 0)
        {
            string imgPath = "~/uploads/" + Model.Images[0].FileLocation;

            <img src="@imgPath" alt="@Model.Name" class="hero-header__image" asp-append-version="true" />
        }
        <div class="hero-header__content">
            <h1 class="page-title royal-font">@Model.Name</h1>
        </div>
    </header>
</main>

<div class="separator"></div>