@{
    ViewData["Title"] = "Apartment - BooKing";
}

<main>
    <header class="hero-header">
        <img src="~/img/components/header-2.jpg" alt="Booking Header" class="hero-header__image" />
        <div class="hero-header__content">
            <h1 class="page-title royal-font">Apartment Page</h1>
            <h2 class="hero-header__subtitle">You've entered the placeholder page for an apartment.</h2>
        </div>
    </header>
</main>

<div class="separator"></div>