@model List<ApartmentModel>
@{
    ViewData["Title"] = "Home Page - BooKing";
}

<main>
    <header class="hero-header">
        <img src="~/img/components/header-3.jpg" alt="Booking Header" class="hero-header__image" />
        <div class="hero-header__content">
            <h1 class="page-title royal-font">Boo<span style="color: #FFD700">King</span></h1>
            <h2 class="hero-header__subtitle">You've entered the kingdom of hotel reservation.</h2>
        </div>
    </header>

    <section class="about-section">
        <div class="about-section__desc">
            <h2 class="huge-title"><span class="intact">We are the kings</span><span class="intact">of hotel reservation</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra dapibus urna, quis tempus tortor elementum placerat. Aenean ac nisl nec magna posuere sagittis sit amet eget nisl. Nullam faucibus bibendum velit. Sed vel ultricies arcu. Pellentesque tortor ante, tempus in sapien placerat, aliquam rutrum lectus.
            </p>
            <p>
                Nam luctus maximus efficitur. Maecenas eleifend, metus id semper scelerisque, neque ex auctor risus, eu tempus neque neque accumsan lectus. Ut in ligula finibus, dictum odio non, finibus sem. Etiam suscipit efficitur hendrerit.
            </p>
        </div>
        <div class="about-section__img-con">
            <img src="~/img/components/reception.jpg" alt="Reception" />
        </div>
    </section>

    <section class="home-apartments">
        <div class="home-apartments__head">
            <h2>Check out our apartments</h2>
        </div>
        <div class="home-apartments__carousel" id="apartments-carousel">
            @foreach (ApartmentModel apartment in Model)
            {
                <vc:apartment-preview apartment="@apartment" />
            }
        </div>
        <div class="home-apartments__footer">
            <a asp-controller="ApartmentArchive" asp-action="Index" class="bk-btn">See all</a>
        </div>
    </section>
</main>