@{
    ViewData["Title"] = "BooKing - Home Page";
}

<main>
    <header class="hero-header">
        <img src="~/img/components/header-3.jpg" alt="Booking Header" class="hero-header__image" />
        <div class="hero-header__content">
            <h1 class="big-title royal-font">Boo<span style="color: #FFD700">King</span></h1>
            <h2 class="hero-header__subtitle">You've entered the kingdom of hotel reservation.</h2>
        </div>
    </header>

    <section class="apartments-grid">
        @for(int i = 0; i < 6; i++){
        
        }
    </section>
</main>