.admin-container{
  @include d-flex();
}

.admin-body{
  width: calc(100% - 320px);
  height: 100vh;
  overflow: auto;
  background-color: $white-dimmed;
  padding: 30px;
}

.admin-title{
  @include d-flex($ai: center);

  & .dense-btn{
    margin-left: 20px;
  }
}