.apartments-grid{
  @include flex-row-3(30px);

  &__item{
    @include d-flex($dir: column);

    &__img-con{
      @include d-flex($ai: flex-end, $jc: flex-start);
      position: relative;
      height: 320px;
      border-radius: 3px;
      overflow: hidden;
      margin-bottom: 8px;

      &:hover{
        & .apartments-grid__item__hover{
          top: 80%;
        }
      }
    }

    &__img{
      @include img-cover;
      @include abs(0, 0);
      z-index: 0;
    }

    &__title{
      margin-bottom: 8px;
    }

    &__hover{
      @include abs(0, 100%);
      @include d-flex($center: true);
      @include rect(100%, 20%);
      z-index: 0;
      @include transition;
      background-color: $gold;
      color: $black;
      font-weight: bold;

      &:hover{
        background-color: $black;
        color: $white;
      }
    }

    &__footer{
      @include d-flex($jc: space-between, $ai: center);
    }

    &__info{
      font-size: 14px;
      line-height: 19px;
      font-weight: 300;
    }
  }
}