.apartments-display{
  background-color: $red-dimmed;
  color: #FFF;

  &__head, &__footer{
    @include d-flex($jc: center);
    padding: 30px;
    text-align: center;

    & h2{
      margin-bottom: 0;
    }
  }

  &__carousel{
    & .slick-slide{
      margin: 0 4px;
    }

    & .apartments-grid__item{
      &:focus{
        outline: none !important;
      }

      &__img-con{
        height: 500px;
      }
    }
  }

  &__grid{
    padding: 0 8px;
    @include flex-row-3(8px);

    & .apartments-grid__item{
      &__img-con{
        height: 420px;
      }
    }
  }
}