.apartments-grid{
  @include flex-row-3(30px);

  &__item{
    @include d-flex($dir: column);

    &__img-con{
      @include d-flex($ai: flex-end, $jc: flex-start);
      position: relative;
      height: 320px;
      border-radius: 3px;
      overflow: hidden;
      margin-bottom: 8px;
    }

    &__img{
      @include img-cover;
      @include abs(0, 0);
      z-index: 0;
    }

    &__title{
      margin-bottom: 8px;
    }

    &__info{
      @include d-flex($dir: column);
      background: rgba(0, 0, 0, 0.9);
      padding: 14px 24px;
      position: relative;
      z-index: 1;
      width: 100%;
      color: $white;
    }

    &__footer{
      @include d-flex($ai: center, $jc: space-between);
    }
  }
}